@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranWOFF";
  src: url("./font-2/IRANSansWeb\(FaNum\).woff");
}
@font-face {
  font-family: "iranWOFF2";
  src: url("./font-2/IRANSansWeb\(FaNum\).woff2");
}
@font-face {
  font-family: "iranEOT";
  src: url("./font-2/IRANSansWeb\(FaNum\).eot");
}
@font-face {
  font-family: "iranTTf";
  src: url("./font-2/IRANSansWeb\(FaNum\).ttf");
}

body{
  font-family: "iranWOFF" , "iranWOFF2" , "iranEOT" , "iranTTf";
  direction: rtl;
}